*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    /*background-color:blue ;*/
    background-size: cover;
    color: rgb(14, 0, 0);
    font-size: 16px;
}

.wrap{
    width: 90%;
    max-width: 1000px;
    /*margin: auto;*/
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.widget{
    width: 90%;
    margin: 2em;

}

.widget p{
    display: inline-block;
    line-height: 1em;
}

.fecha{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125rem;
    background: rbga(0,0,0,.5);
    padding: 5px;
    width: 100%;
}

.reloj{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rbga(0,0,0,.5);
}

.reloj .caja-segundos{
    display: inline-block;
}

.reloj .segundos,
.reloj .ampm{
    font-size: 2rem;
    display: block;
}

